/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* alternative fonts: serif, cursive, fantasy, monospace */
}

nav {
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
}

nav ul li {
    list-style-type: none;
}

nav .nav, 
nav .nav-logo {
    margin: 0.5rem;
    display: inline;
}

#intro {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.header {
    text-align: center;
}

#intro h1,
#intro p {
    margin-bottom: 1rem;
}

#intro button {
    background-color: #c2195b;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 25px;
}

#succeed-info {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#succeed-info h2 {
    margin-bottom: 1rem;
}

#succeed-info h3 {
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card {
    display: inline-block;
    vertical-align: top; /* align tallest elem */
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* 
Inline - can't manipulate width and height
block - can manipulate sizes
inline-block - can manipulate  pero magkakatabi (column
*/

footer {
    padding: 0.7rem;
}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* activity css code goes here */

#pre-footer {
    background-color: #002540;
    color: #fff;
    padding: 1rem
}

#pre-footer div {
    display: inline-block;
    margin-right: 1.6rem;
    width: 265px;
    /*
    if h3 are align horizontally
    vertical-align: top;
    */
}

#pre-footer div h3,
#pre-footer div p {
    margin: 0.5rem;
}